fastapi
uvicorn
python-dotenv
openai
google-generativeai
llama-cpp-python==0.3.7
serpapi
Pillow
pdfminer.six
python-docx
pymupdf
pdf2image
unstructured
python-docx
pytesseract
python-multipart
mammoth
pybind11>=2.11.1
cmake>=3.15
html2text
google-genai
PyMuPDF
google-search-results